.start {
  text-align: center;
}

header {
  text-align: center;
  margin-top: 40px;
}

.title1 {
  text-align: left;
  margin-bottom: 60px;
}

.picture1 {
  justify-content: left;
  align-items: left;
  margin-top: 5px;
  margin-right: 76px;
}

.desc1 {
  text-align: left;
}

.picture2 {
  justify-content: right;
  align-items: right;
  margin-top: 5px;
  margin-left: 76px;
}

.desc2 {
  text-align: left;
}

.title2 {
  text-align: left;
  margin-bottom: 60px;
}

.title3 {
  text-align: left;
  margin-bottom: 60px;
}

.picture3 {
  justify-content: left;
  align-items: left;
  margin-top: 5px;
  margin-right: 76px;
}

.desc3 {
  text-align: left;
}

.picture4 {
  justify-content: right;
  align-items: right;
  margin-top: 5px;
  margin-left: 76px;
}

.desc4 {
  text-align: left;
}

.title4 {
  text-align: left;
  margin-bottom: 60px;
}

.title5 {
  text-align: left;
  margin-bottom: 60px;
}

.picture5 {
  justify-content: left;
  align-items: left;
  margin-top: 5px;
  margin-right: 76px;
}

.desc5 {
  text-align: left;
}

.picture6 {
  justify-content: right;
  align-items: right;
  margin-top: 5px;
  margin-left: 76px;
}

.desc6 {
  text-align: left;
}

.title6 {
  text-align: left;
  margin-bottom: 60px;
}

.title7 {
  text-align: left;
  margin-bottom: 60px;
}

.picture7 {
  justify-content: left;
  align-items: left;
  margin-top: 5px;
  margin-right: 76px;
}

.desc7 {
  text-align: left;
}

.title {
  text-align: center;
  font-size: x-small;
}

.end {
  text-align: center;
  font-size: xx-small;
}

.text2 {
  text-align: center;
  font-size: x-small;
}
